<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание новой птицы</title>
</head>
<body>
    <h1>Создание новой птицы</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Название птицы:</label>
        <input type="text" id="name" name="name"><br>
        <label for="feather_color">Цвет перьев:</label>
        <input type="text" id="feather_color" name="feather_color"><br>
        <label for="photo">Фото птицы:</label>
        <input type="file" id="photo" name="photo"><br>
        <input type="submit" value="Создать">
    </form>
</body>
</html>
