<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Birds App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to My Birds App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'all_birds:bird_list' %}">All Birds</a></li>
                <li><a href="{% url 'all_birds:seen_birds' %}">Seen Birds</a></li>
                <li><a href="{% url 'all_birds:create_bird' %}">Add Bird</a></li>
                <li><a href="{% url 'all_birds:bird_sightings' %}">Bird Sightings</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Birds App</p>
    </footer>
</body>
</html>